*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 35px 12px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size:  25px;
    color: rgb(253, 251, 251);
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(242, 11, 31);
    text-shadow: 0 0 25px rgb(252, 10, 175),
                 0 0 50px  rgb(252, 10, 175);
    transform: scale(1,1);
}
span{
    color: rgb(252, 10, 175);
}
.navbar a{
    font-size: 10px;
    color: antiquewhite;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color:rgb(252, 10, 175);
    border-bottom:3px solid rgb(252, 10, 175);
}
.contact{
    position: 10px 28px;
    background-color: white;
    color: black;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: rgb(252, 10, 175);
    box-shadow: 0 0 25px rgb(252, 10, 175);
    color:white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display:flex;
    align-items: center;
    gap:7em;
    padding:30px 12% 0;
}
.home-content{
    max-width: 800x;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(252, 10, 175);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: rgb(252, 10, 175);
}
.img-box img{
    border-radius: 100%;
    width: 520px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0, 0.6);
    width:50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12% 8%;
    gap:10em;
    background: black;
}
.about-img img{
    position:relative;
    width: 550px;
    box-shadow:  0 0 25px rgb(252, 10, 175),
                 0 0 50px rgb(252, 10, 175);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin:2em;
}
.contact-form{
    text-align:center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background:white;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
  }
  
  footer h3 {
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }